<form class="smart-form client-form" method="POST" data-ajax="true">
    <header>Reset Password</header>

    <fieldset>

        <div data-msg></div>

        @Html.AntiForgeryToken()

        <input type="hidden" name="Token" value="@Request["token"]">

        <section>
            <label for="Email" class="label">Email</label>
            <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input type="email" id="Email" name="Email" authfocus />
            </label>
        </section>

        <section>
            <label for="NewPassword" class="label">Password</label>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" id="NewPassword" name="NewPassword" />
            </label>
        </section>

        <section>
            <label for="ConfirmPassword" class="label">Confirm Password</label>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" />
            </label>
        </section>

    </fieldset>

    <footer>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </footer>
</form>