<section class="cmn-banner-links">
    <div class="clearfix fix-wrap">
        <a href="javascript:void(0);" class="toggle-link">Filter</a>
        <ul class="cmn-list">
            <li id="postajobdashboard"><a href="@Url.Action("PostAJobDashBoard", "DashBoards")">Posted Jobs</a></li>
            <li id="advertisement-dashboard"><a href="@Url.Action("AdvertisementDashBoard", "DashBoards")">Banner/Link Ads Purchased</a></li>
            <li id="resumeaccesspurchased"><a href="@Url.Action("ResumeAccessPurchaseList", "DashBoards")">Resume Access Purchased</a></li>
            <li id="paymenthistory"><a href="@Url.Action("PaymentHistory", "DashBoards")">Payment History</a></li>          
        </ul>
    </div>
</section>