@using Humanizer

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i> Dashboard
        </h1>
    </div>
</div>

<section @*class="well"*@>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="font-weight: bold;">Welcome to Spinx Assessment Test Admin</h1>
        </div>
    </div>

</section>
