<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="hiqpdf" version="10.17.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="ValueInjecter" version="3.1.1.5" targetFramework="net461" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.7.15" targetFramework="net461" />
  <package id="Z.Expressions.Eval" version="2.4.19" targetFramework="net461" />
</packages>