<div class="form-group" ng-class="$ctrl.model.errors[$ctrl.name] ? 'has-error' : ''">
    <label class="col-md-2 control-label">
        {{$ctrl.label}}
        <span class="text-danger" ng-show="$ctrl.required != undefined">*</span>
    </label>
    <div class="col-md-6">
        <select class="form-control" 
                ng-model="$ctrl.model.entity[$ctrl.name]">
            <option value="">[ Select {{$ctrl.label}} ]</option>
            <option ng-repeat="item in $ctrl.data" ng-value="item.id" ng-bind="item.name"></option>
        </select>
        <i class="form-control-feedback glyphicon glyphicon-remove" ng-show="$ctrl.model.errors[$ctrl.name]"></i>
        <small class="help-block" ng-show="$ctrl.model.errors[$ctrl.name]" ng-bind="$ctrl.model.errors[$ctrl.name]"></small>
        <ng-transclude />
    </div>
</div>