<li>
    <a href="@ViewBag.advertisementsDefaultUrl">Advertise with ESL Cafe Now! </a>
    <p>Looking for a way to promote your products and services on the #1 ESL Website on the Net? <a href="mailto:dave@email.com">Email Dave</a> to get started now!</p>
</li>
