@*<div class="clear see-our-add" style="background-image:url(Content/images/advertisewithus-bg.jpg);">
    <h3>Looking for a way to promote your products and services on the #1 ESL Website on the Net?</h3>
    <div class="dark-box">
        <h2>Advertise Here!</h2>
        <a href="@ViewBag.advertisementsDefaultUrl" class="btn-primary">See Our Advertising Options</a>
    </div>
</div>*@
<div class="clear cmn-add-view">
    <a target="_blank" href="@ViewBag.advertisementsDefaultUrl"><img src="Content/images/728x90.jpg" alt="Leaderboard Banner" title="Leaderboard Banner" /></a>
</div>

