@using Spinx.Web.Core.Authentication;
@using Spinx.Web.Infrastructure;
<div class="nav-right">
    <div class="top-bar">
        <ul class="cmn-list" id="topbar">
            @if (UserAuth.IsLogedIn())
            {
                <li class="w-message">Welcome @UserAuth.User.Name</li>
                <li><a href="@Url.Action("Logout", "Member")" onclick="return confirm('Are you sure want to logout !')" >Logout</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Index", "Member")">Register</a></li>
                <li><a href="@Url.Action("Login", "Member")">Login</a></li>
            }
        </ul>
    </div>
</div>
