<div class="sidebar-add">
    <div class="banner-box">
        <a href="@ViewBag.advertisementsDefaultUrl" target="_blank"><img src="Content/images/160x600.jpg" alt="Img Skyscraper Banner" title="Skyscraper Banner" width="160" height="600" /></a>
    </div>
    <a href="@ViewBag.advertisementsDefaultUrl" >Lorem Ipsum Dolar Lorem Ipsum</a>
</div>
