@using Spinx.Domain.Advertisements
@if ((Model as IEnumerable<AdvertisementManagement>).Where(a => a.IsActive && a.AdvertisementStatus == ((int)AdvertisementStatus.Approved) && a.EndDate >= DateTime.Now).Count() > 0)
{
    var advertisementManagement = (Model as IEnumerable<AdvertisementManagement>).Where(a => a.AdvertisementStatus == ((int)AdvertisementStatus.Approved) && a.EndDate >= DateTime.Now).FirstOrDefault();
    <a href="@advertisementManagement.AdvertisementUrl" target="_blank" class="small-link">@advertisementManagement.AdvertisementText</a>

}
else
{
    @Html.Partial("_SmallTextLinkBanner_notFound")
}
