<!-- This is common section in all pages. need to apply condition for more than 5 items in other pages -->
<div class="sponsor-links">
    <h3>SPONSORED LINKS</h3>
    <a href="#" class="small-link">Purchase a sponsored link</a>
    <ul class="cmn-list">
        <li><a href="#">Your Gateway to a Wider World! Earn an accredited TEFL Certificate and Masters Degree with Via Lingua</a></li>
        <li><a href="#">Please click the link to view our online and overseas teaching positions</a></li>
        <li><a href="#">OnTESOL: Accredited Online TESOL certification Courses Since 2003</a></li>
    </ul>
</div>