@using Humanizer
@using Spinx.Domain.Members
@using System;
<layout-header icon="user" breadcrumb="['Candidates']">
    <button-add url="admin/members/create">Candidate</button-add>
</layout-header>

<div ng-controller="ctrlList" ng-init="list.filters.sortColumn='createdAt';list.filters.sortType='desc'">
    <grid>
        <message message="list.message" type="list.messageType"></message>
        <toolbar model="list"></toolbar>
        <table class="table table-bordered table-striped dataTable table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class='hasinput' style='vertical-align: middle;'>
                        <input type='text' class='form-control' placeholder='Name' name='name' ng-model="list.filters['name']"
                               model="list" ng-blur="list.load(true)" enter-Key="list.load(true)" style="margin-bottom: 5px;">
                        <input type='text' class='form-control' placeholder='Email' name='email' model="list"
                               ng-model="list.filters['email']" ng-blur="list.load(true)" enter-Key="list.load(true)">
                    </th>
                    <th th-search name="college" model="list"></th>
                    <th class='hasinput' style='vertical-align: middle;'>
                        <select class="form-control" autocomplete="off" ng-model="list.filters['createdSource']"
                                ng-change="list.load(true)">
                            <option value="" selected>[{{ 'Soruce Type' | humanize }}]</option>
                            @foreach (var item in Enumeration.GetAll<MemberCreatedSource>().OrderBy(x => x.Key))
                            {
                                <option value="@item.Key">@item.Value.Humanize(LetterCasing.Title)</option>
                            }
                        </select>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th style='vertical-align: middle;text-align:center' width="50">Action</th>
                    <th th-sort name="name" model="list"> Candidate </th>
                    <th th-sort width="250" name="college" model="list"> College </th>
                    <th th-sort width="180" name="createdSource"> Created Source</th>
                    <th th-sort width="100" name="totalExam"> Total Exam</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.data">
                    <td cell align="center">
                        <action-edit url="admin/members/edit/{{ item.id }}" model="list" item="item" title="View Edit">
                        </action-edit>
                        <action-view ng-show="item.totalExam > 0" url="admin/members/result/{{ item.id }}" model="list" item="item" title="View Result">
                        </action-view>
                    </td>
                    <td cell>
                        {{ item.name }} <br />
                        {{ item.email }}
                    </td>
                    <td cell>
                        {{item.college}}
                    </td>
                    <td cell>
                        {{item.createdSourceName}}
                    </td>
                    <td cell align="center">
                        {{item.totalExam}}
                    </td>
                </tr>
                <tr row-no-records model="list"></tr>
            </tbody>
        </table>
    </grid>
</div>

@section scripts {
    <script>
        myApp.controller("ctrlList", ["$scope", "$http", "spinxList", function ($scope, $http, spinxList) {
            var searchApiUrl = 'api/admin/members';
            $scope.list = new spinxList(searchApiUrl);
            $scope.list.actions = [];

            $scope.filterSite = function () {
                $scope.list.load();
            };
        }]);
    </script>
}