<layout-header icon="user" breadcrumb="['Customers', 'Members']">
    <button-add url="admin/members/create">Member</button-add>
</layout-header>

<div ng-controller="ctrlList" ng-init="list.filters.sortColumn='createdAt';list.filters.sortType='desc'">
    <grid>
        <message message="list.message" type="list.messageType"></message>
        <toolbar model="list"></toolbar>
            <table class="table table-bordered table-striped dataTable table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th class='hasinput' style='vertical-align: middle;'>
                            <input type='text' class='form-control' placeholder='Name' name='name'   ng-model="list.filters['name']"
                                   model="list" ng-blur="list.load(true)" enter-Key="list.load(true)"  style="margin-bottom: 5px;">
                            <input type='text' class='form-control' placeholder='Email' name='email' model="list" 
                                   ng-model="list.filters['email']" ng-blur="list.load(true)" enter-Key="list.load(true)" >
                        </th>

                        <th name="createdSource" model="list"></th>
                        <th th-search-date name="createdAt" model="list"></th>

                        <th name="starndardCredits" model="list"></th>
                        <th name="premiumCredits" model="list"></th>
                        <th name="jobPayment" model="list"></th>
                        <th name="totalJobPosts" model="list"></th>
                        <th name="approvedJobs" model="list"></th>
                    </tr>

                    <tr>
                        <th th-sort-action width="25"></th>
                        <th th-sort name="name" model="list"> Member </th>
                        <th th-sort width="70" name="createdSource"> Created Source</th>
                        <th th-sort-date width="130" name="createdAt" model="list"> Created At</th>
                        <th th-sort width="70" align="center" name="score" model="list"> Score </th>
                        <th th-sort width="70" align="center" name="percentage" model="list"> Percentage </th>
                        <th th-sort width="70" align="center" name="attempedQues" model="list"> Attemped Question </th>
                        <th th-sort width="70" align="center" name="startTime" model="list"> Start Time</th>
                        <th th-sort width="70" align="center" name="endTime" model="list"> End Time </th>
                        <th th-sort width="70" align="center" name="TimeDuration"> Time Interval </th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in list.data">
                        <td cell align="center">
                            <action-edit url="admin/members/edit/{{ item.id }}" model="list" item="item" title="Edit">
                            </action-edit>
                        </td>

                        <td>
                            {{ item.name }} <br />
                            {{ item.email }}
                        </td>

                        <td cell align="right">
                            {{ item.createdSourceName }}
                        </td>

                        <td cell-date item="item.createdAt"></td>

                        <td cell align="center">{{ item.score == 0 ? '-' : item.score }}</td>
                        <td cell align="center">{{ item.percentage == 0 ? '-' : item.percentage }}</td>
                        <td cell align="right">{{ item.attempedQues == 0.00 ? '- ' : item.attempedQues}} {{ item.quizQuestions == 0 ? ' ' : '/' + item.quizQuestions}}</td>
                        <td cell align="center">{{ item.startTime == 0 ? '-' : item.startTime }}</td>
                        <td cell align="center">{{ item.endTime == 0 ? '-' : item.endTime }}</td>
                        <td cell align="center">{{ item.timeDuration}}</td>
                    </tr>

                    <tr row-no-records model="list"></tr>
                </tbody>
            </table>
    </grid>
</div>

@section scripts {
    <script>
        myApp.controller("ctrlList", ["$scope", "$http", "spinxList", function ($scope, $http, spinxList) {
            var searchApiUrl = 'api/admin/membersResult';
            $scope.list = new spinxList(searchApiUrl);
            $scope.list.actions = [];

            $scope.filterSite = function () {
                $scope.list.load();
            };
        }]);
    </script>
}