@using Spinx.Web.Infrastructure
@{
    ViewBag.Title = "Change Password";
}
<!-- Create: Create Banner -->
<section class="cmn-banner createaccount-banner">
    <div class="imgDiv web-view" style="background-image: url(Content/images/travel.jpg);"></div>
    <div class="imgDiv mob-view" style="background-image: url(Content/images/travel.jpg);"></div>
    <div class="fix-wrap" ng-controller="MemberController">
        <div class="cmn-form">
            <h1>Change Password</h1>
            <form method="post">
                <div class="alert alert-{{ messageType }} fade in" ng-show="message" ng-cloak>
                    <i class="fa-fw fa fa-check"></i>
                    <span ng-bind="message"></span>
                </div>
                <div class="form-group" ng-class="errors.currentPassword ? 'has-error' : ''">
                    <div class="form-label">
                        <input type="password" id="CurrentPassword" ng-init="entity.currentPassword=''" ng-model="entity.currentPassword" />
                        <label for="CurrentPassword">Current Password</label>
                        <i class="password-icon"></i>
                    </div>
                    <small class="help-block" ng-show="errors.currentPassword" ng-bind="errors.currentPassword"></small>
                </div>
                <div class="form-group" ng-class="errors.newPassword ? 'has-error' : ''">
                    <div class="form-label">
                        <input type="password" id="NewPassword" ng-init="entity.newPassword=''" ng-model="entity.newPassword" />
                        <label for="NewPassword">New Password</label>
                        <i class="password-icon"></i>
                    </div>
                    <small class="help-block" ng-show="errors.newPassword" ng-bind="errors.newPassword"></small>
                </div>
                <div class="form-group" ng-class="errors.confirmPassword ? 'has-error' : ''">
                    <div class="form-label">
                        <input type="password" id="ConfirmPassword" ng-init="entity.confirmPassword=''" ng-model="entity.confirmPassword" />
                        <label for="ConfirmPassword">Confirm Password</label>
                        <i class="password-icon"></i>
                    </div>
                    <small class="help-block" ng-show="errors.confirmPassword" ng-bind="errors.confirmPassword"></small>
                </div>
                <div class="form-group createaccount-group">
                    <input type="submit" class="btn-green" value="Update Password" ng-class="loading ? 'submit-disabled' : ''" ng-disabled="loading" ng-click="submit()" />
                    <div id="divLoader" ng-show="loading">
                        <img src="Content/images/ajax-loader.gif" class="ajax-loader" width="30" height="30" alt="loader icon" />
                    </div>
                    <a href="edit-profile">Edit Profile</a>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            funInputPlaceholder();
            $("#CurrentPassword").val('');
            $("#NewPassword").val('');
            $("#ConfirmPassword").val('');
        });
    </script>
    <script>
        myApp.controller("MemberController",
            [
                "$scope", "$http", "$rootScope", function ($scope, $http, $rootScope) {
                    $scope.entity = {};
                    $scope.submit = function () {
                        $scope.message = null;
                        $scope.messageType = null;
                        $scope.loading = true;
                        $scope.errors = {};
                        $http({
                            url: 'member/changepassword',
                            method: 'POST',
                            data: angular.toJson($scope.entity)
                        }).then(function (resp) {
                            $scope.loading = false;
                            $scope.errors = resp.data.errors;

                            if (resp.data.success) {
                                $scope.message = resp.data.message;
                                $scope.messageType = 'success';
                                $('html, body').animate({
                                    scrollTop: $("form").offset().top - 200
                                }, 500);
                            }
                            else {
                                $scope.message = resp.data.message;
                                $scope.messageType = 'error';
                                $('html, body').animate({
                                    scrollTop: $("form").offset().top - 200
                                }, 500);
                            }
                        });
                    }
                }
            ]);
    </script>
}