
@{
    ViewBag.Title = "Forgt Password";
}
<!-- Forgot Password: Forgot Password Banner -->
<section class="cmn-banner login-banner">
    <div class="imgDiv web-view" style="background-image: url(Content/images/travel.jpg);"></div>
    <div class="imgDiv mob-view" style="background-image: url(Content/images/travel.jpg);"></div>
    <div class="fix-wrap" ng-controller="ForgotPasswordController">
        <div class="cmn-form">
            <h1>Forgt Password?</h1>
            <p>Submit your email register with us and we will send you link to reset your password.</p>
            <form method="post">
                <div class="alert alert-{{ messageType }} fade in" ng-show="message" ng-cloak>
                    <i class="fa-fw fa fa-check"></i>
                    <span ng-bind="message"></span>
                </div>
                <div class="form-group" ng-class="errors.email ? 'has-error' : ''">
                    <div class="form-label">
                        <input type="email" id="EmailAddress" ng-model="entity.email" />
                        <label for="EmailAddress">Email Address</label>
                        <i class="email-icon"></i>
                    </div>
                    <small class="help-block" ng-show="errors.email" ng-bind="errors.email"></small>
                </div>
                <div class="form-group form-cmn-btn">
                    <input type="submit" class="btn-green btn-login" value="Submit" ng-class="loading ? 'submit-disabled' : ''" ng-disabled="loading" ng-click="submit()" />
                    <div id="divLoader" ng-show="loading">
                        <img src="Content/images/ajax-loader.gif" class="ajax-loader" width="30" height="30" alt="loader icon" />
                    </div>
                    <a href="login" class="f-right forgot-p-link">Login</a>
                </div>
                <div class="form-group create-account">
                    <a href="create-account">Create an account</a>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            funInputPlaceholder();
        });
    </script>
    <script>
        myApp.controller("ForgotPasswordController",
            [
                "$scope", "$http", "$rootScope", function ($scope, $http, $rootScope) {

                    if ("@Request["token"]" == "expired")
                    {
                        $scope.message = "Invalid forgot password token or token already expired.";
                        $scope.messageType = 'error';
                    }

                    $scope.entity = {};
                    $scope.submit = function () {
                        $scope.message = null;
                        $scope.messageType = null;
                        $scope.loading = true;
                        $scope.errors = {};
                        $http({
                            url: 'forgot-password',
                            method: 'POST',
                            data: angular.toJson($scope.entity)
                        }).then(function (resp) {
                            $scope.loading = false;
                            $scope.errors = resp.data.errors;

                            if (resp.data.success) {
                                $scope.entity = {};
                                $scope.message = resp.data.message;
                                $scope.messageType = 'success';

                                $('html, body').animate({
                                    scrollTop: $("form").offset().top - 200
                                }, 500);
                                if (resp.data.isRedirect)
                                    window.location.href = resp.data.redirect;
                            }
                            else {
                                $scope.message = resp.data.message;
                                $scope.messageType = 'error';
                                $('html, body').animate({
                                    scrollTop: $("form").offset().top - 200
                                }, 500);
                            }
                        });
                    }
                }
            ]);
    </script>
}