@{
    ViewBag.Title = "Reset Password";
}
<!-- Forgot Password: Forgot Password Banner -->
<section class="cmn-banner login-banner">
    <div class="imgDiv web-view" style="background-image: url(Content/images/travel.jpg);"></div>
    <div class="imgDiv mob-view" style="background-image: url(Content/images/travel.jpg);"></div>
    <div class="fix-wrap" ng-controller="ResetPasswordController">
        <div class="cmn-form">
            <h1>Reset Password</h1>
            @*<p>Submit your email register with us and we will send you link to reset your password.</p>*@
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="alert alert-{{ messageType }} fade in" ng-show="message" ng-cloak>
                    <i class="fa-fw fa fa-check"></i>
                    <span ng-bind="message"></span>
                </div>
                <div class="form-group" ng-class="errors.newPassword ? 'has-error' : ''">
                    <div class="form-label">
                        <input type="password" id="NewPassword" ng-model="entity.newPassword" />
                        <label for="NewPassword">New Password</label>
                        <i class="password-icon"></i>
                    </div>
                    <small class="help-block" ng-show="errors.newPassword" ng-bind="errors.newPassword"></small>
                </div>
                <div class="form-group" ng-class="errors.confirmPassword ? 'has-error' : ''">
                    <div class="form-label">
                        <input type="password" id="ConfirmPassword" ng-model="entity.confirmPassword" />
                        <label for="ConfirmPassword">Confirm Password</label>
                        <i class="password-icon"></i>
                    </div>
                    <small class="help-block" ng-show="errors.confirmPassword" ng-bind="errors.confirmPassword"></small>
                </div>
                <div class="form-group form-cmn-btn">
                    <input type="submit" class="btn-green btn-login" value="Submit" ng-class="loading ? 'submit-disabled' : ''" ng-disabled="loading" ng-click="submit()" />
                    <div id="divLoader" ng-show="loading">
                        <img src="Content/images/ajax-loader.gif" class="ajax-loader" width="30" height="30" alt="loader icon" />
                    </div>
                    <a href="login" class="f-right forgot-p-link">Login</a>
                </div>
                <input type="hidden" ng-init="entity.token='@Request["token"]'" ng-model="entity.token">
                <div class="form-group create-account">
                    <a href="create-account">Create an account</a>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            funInputPlaceholder();
        });
    </script>
    <script>
        myApp.controller("ResetPasswordController",
            [
                "$scope", "$http", "$rootScope", function ($scope, $http, $rootScope) {
                    $scope.entity = {};
                    $scope.submit = function () {
                        $scope.message = null;
                        $scope.messageType = null;
                        $scope.loading = true;
                        $scope.errors = {};
                        $http({
                            url: 'reset-password',
                            method: 'POST',
                            data: angular.toJson($scope.entity)
                        }).then(function (resp) {
                            $scope.loading = false;
                            $scope.errors = resp.data.errors;
                            if (resp.data.success) {
                                $scope.entity = {};
                                $scope.message = resp.data.message;
                                $scope.messageType = 'success';

                                $('html, body').animate({
                                    scrollTop: $("form").offset().top - 200
                                }, 500);
                            }
                            else {
                                $scope.message = resp.data.message;
                                $scope.messageType = 'error';
                                $('html, body').animate({
                                    scrollTop: $("form").offset().top - 200
                                }, 500);
                            }
                            setTimeout(function () {
                                if (resp.data.isRedirect)
                                    window.location.href = resp.data.redirect;
                            }, 2000);

                        });
                    }
                }
            ]);
    </script>
}