@model Spinx.Domain.Quizs.Quiz
@{
    ViewBag.Title = Model.MetaTitle ?? Model.Title;
    ViewBag.MetaDescription = Model.MetaDescription ?? Model.ShortDescription;
}

<!-- Job Board: Page Banner Title -->
<section class="cmn-banner page-title-banner">
    <div class="imgDiv" style="background-image: url(Content/images/travel7.jpg);"></div>
    <div class="banner-title">
        <h1>Resources</h1>
    </div>
</section>

<!-- Job Board: Two column section  -->
<section class="cmn-banner-links">
    <div class="clearfix fix-wrap">
        <a href="javascript:void(0);" class="toggle-link">Filter</a>
        @Html.Partial("_ResourcesMenu")
    </div>
</section>

<section class="quiz-detail-wrap">
    <div class="clearfix fix-wrap">
        <div class="left-content">

            <div class="back-link">
                <a href="quiz">&lt; &nbsp;Quiz</a>
            </div>

            <div class="quiz-detail">
                <h2><img src="@Model.QuizCategory.CategoryIcon" width="24" alt="title-icon"/><span>@Model.Title</span></h2>
                <div class="Instructions-block">
                    <h3>Special Instructions:</h3>
                    <p>@Model.ShortDescription</p>
                </div>

                <div class="short-quiz">
                    <a href="resources/question/@(ViewBag.slug)" class="btn-primary btn-continue">Start</a>
                    <a href="" class="btn-primary btn-continue">Cancel</a>                  
                </div>

            </div>
        </div>

    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            filterLinks();
            $("#liQuizzes").addClass("active");
        });

        function CalculateResult(TotalQuestion) {
            var TotalCorrectAnswers = 0;

            for (var i = 1; i <= TotalQuestion; i++) {
                if ($("input:radio[name='" + i + "']:checked").val() == $("#hdnAns" + i).val() && $("#hdnAns" + i).val() != "" && typeof($("#hdnAns" + i).val()) !="undefined") {
                    $("#imgRightAns" + $("#hdnAns" + i).data("qid") + $("#hdnAns" + i).val()).show();
                    TotalCorrectAnswers++;
                }
                else {
                    $("input:radio[name='" + i + "']:checked").siblings(".wrong-img").show();
                    $("#imgRightAns" + $("#hdnAns" + i).data("qid") +  $("#hdnAns" + i).val()).show();
                }
                $("input:radio[name='" + i + "']").each(function () {
                    $(this).hide();
                    $(this).siblings("div").removeClass().addClass("uncheckmark");
                });
            }

            var finalResult = (TotalCorrectAnswers * 100) / TotalQuestion;
            $("#spnResult").html(parseInt(finalResult));
            $("#divSubmit").hide();
            $("#divResult").show();
        }

        function filterLinks() {
            var screen_width = $(window).width();

            if (screen_width < 979) {
                $(".cmn-banner-links ul.cmn-list").hide();
                $('a.toggle-link').off('click');
                $('a.toggle-link').on('click', function () {
                    $(this).toggleClass("open-filter");
                    $(".cmn-banner-links ul.cmn-list").slideToggle(200);
                });
            }
            else {
                $('a.toggle-link').removeClass("open-filter");
                $(".cmn-banner-links ul.cmn-list").show();
            }
        };

        $(window).resize(function () {
            filterLinks();
        });
    </script>
}