<!-- Job Board: Page Banner Title -->
<section class="cmn-banner page-title-banner">
    <div class="imgDiv" style="background-image: url(Content/images/header.jpg);"></div>
    <div class="banner-title">
    </div>
</section>

<section class="quiz-detail-wrap">
    <div class="clearfix fix-wrap">
        <div class="left-content">
            <h2>Thank you </h2>         
            <p>Thank you for participating! We will get back to you with the results shortly!</p>
        </div>

    </div>
</section>
