<!-- Job Board: Page Banner Title -->
<section class="cmn-banner page-title-banner">
    <div class="imgDiv" style="background-image: url(Content/images/travel7.jpg);"></div>
    <div class="banner-title">
        @*<h1>Resources</h1>*@
    </div>
</section>



<section class="quiz-detail-wrap">
    <div class="clearfix fix-wrap">
        <div class="left-content">
            <h2>Thank you </h2>         
            <p>We'll analyze your result.</p>
        </div>

    </div>
</section>

@section scripts{
    
}